<!--
 Formulario con la directiva ngModel
<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <form action="">


      <div>
        <label for="name">Name:</label>
        <input type="text" id="name"  name="name" [(ngModel)]="formData.name" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" [(ngModel)]="formData.email" />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" [(ngModel)]="formData.password" />
      </div>

      <div>
        <button type="submit">Submit</button>
      </div>
  </form>
  {{ formData | json}}
</div>
-->

<!--Formulario Reactivo básico
<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <form [formGroup]="formData" (ngSubmit)="onSubmitted()">


      <div>
        <label for="name">Name:</label>
        <input type="text" id="name"  name="name" formControlName="name" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" formControlName="email" />
      </div>

      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" formControlName="password" />
      </div>


      <div formArrayName="additionalEmails" class="additionalEmails">
        @for(email of additionalEmails.controls; track $index){

          <div class="additionalEmails">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" [formControlName]="$index" />
          </div>

          <button type="button" (click)="removeEmail($index)">Remove Email</button>
        }
      </div>


      <div>
        <button type="button" (click)="addEmail()">Add Email</button>
        <button type="submit">Submit</button>
      </div>
      <div>
        {{ formData.value | json}}
      </div>
  </form>

</div>
 -->


 <!-- Formulario anidado
<div style="
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
">

  <for [formGroup]="userProfileForm">
    <!--sección de información personal
    <div formGroupName="personalInfo">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      </div>

    </div>

    <!-- Direcciones

    <div formGroupName="address">
      <div>
        <label for="street">Street:</label>
        <input type="text" id="street" formControlName="street" />
      </div>

      <div>
        <label for="city">City:</label>
        <input type="city" id="city" formControlName="city" />
      </div>

      <div class="zipCode">
        <label for="zipcode">Zip Code:</label>
        <input type="zipcode" id="zipcode" formControlName="zipcode" />
      </div>

      <button type="submit">Submit</button>
      {{ userProfileForm.value | json}}
    </div>

  </for>

</div>
--->


<!--- Formularios Dinamicos---->

<div style="
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
">

  <for [formGroup]="userProfileForm">
    <!--sección de información personal-->
    <div formGroupName="personalInfo">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name" />
      </div>

      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
      </div>

    </div>

    <!-- Direcciones-->

    <div formGroupName="addresses">
      @for(addresGroup of addressGroups.controls; track $index){
        <div [formGroupName]="$index" class="nestedFb">
          <div>
            <label for="street">Street:</label>
            <input type="text" id="street" formControlName="street" />
          </div>

          <div>
            <label for="city">City:</label>
            <input type="city" id="city" formControlName="city" />
          </div>

          <div class="zipCode">
            <label for="zipcode">Zip Code:</label>
            <input type="zipcode" id="zipcode" formControlName="zipcode" />
          </div>

          <!--
          <mat-form-field class="mat-12" appearance="fill">
            <mat-label>Inspector</mat-label>
            <mat-select
              formControlName="inspector"
              id="inspector"
              [(value)]="selectedInspector"
            >
              <mat-option
                *ngFor="let inspector of inspectores; let i= index"
                [value]="inspector[i].id"
              >
                {{ inspector[i].nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        -->

          <mat-form-field class="mat-12" *ngFor="inspector of inspectores; let i = index">
            <mat-select [formControlName]="i">
                <mat-option *ngFor="let inspector of  inspectores" [value]="inspector">{{ inspector }}</mat-option>
            </mat-select>
        </mat-form-field>


          <button type="button" (click)="removeAddress($index)">Remove Address</button>

        </div>
      }

      <button type="button" (click)="addAddress()">Add Address</button>


      <button type="submit">Submit</button>
      {{ userProfileForm.value | json}}
    </div>

  </for>

</div>
